# Gradle
.gradle/
build/
/app/build/
!gradle/wrapper/gradle-wrapper.jar

# Локальные настройки машины
local.properties
.kotlin/

# IDE
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Артефакты сборки
*.apk
*.aab
*.ap_
*.dex
*.hprof
captures/
.externalNativeBuild/
.cxx/

# Логи
*.log

# Подписи (в репозиторий не попадают)
*.jks
*.keystore
keystore.properties
